<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="header">
      <img src="<%= require("./src/assets/images/logo.png") %>" alt="Logo" class="header__logo" />
      <form class="search">
        <input
          type="text"
          class="search__field"
          placeholder="搜一搜，做起来"
        />
        <button class="btn search__btn">
          <svg class="search__icon">
            <use href="<%= require("./src/assets/images/icons.svg") %>#icon-search" ></use>
          </svg>
          <span>搜索</span>
        </button>
      </form>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <button class="nav__btn nav__btn--add-recipe">
              <svg class="nav__icon">
                <use href="<%= require("./src/assets/images/icons.svg") %>#icon-edit" ></use>
              </svg>
              <span>添加菜谱</span>
            </button>
          </li>
          <li class="nav__item">
            <button class="nav__btn nav__btn--bookmarks">
              <svg class="nav__icon">
                <use href="<%= require("./src/assets/images/icons.svg") %>#icon-bookmark"></use>
              </svg>
              <span>收藏</span>
            </button>
            <div class="bookmarks">
              <ul class="bookmarks__list">
                <div class="message">
                  <div>
                    <svg>
                      <use href="<%= require("./src/assets/images/icons.svg") %>#icon-smile"></use>
                    </svg>
                  </div>
                  <p>
                    No bookmarks yet. Find a nice recipe and bookmark it :)
                  </p>
                </div>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <div class="search-results">
      <ul class="results">

      </ul>

      <div class="pagination">

      </div>

    </div>

    <div class="recipe">
      <div class="message">
        <div>
          <svg>
            <use href="<%= require("./src/assets/images/icons.svg#icon-smile") %>"></use>
          </svg>
        </div>
        <p>输入英文搜索菜谱，试试 pizza 看 </p>
      </div>
    </div>
  </div>
</body>
</html>